html {
    font-family: sans-serif;
    font-size: 62.54;
}
.form-section {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 704;
    border: 1px solid #808080;
    margin: 24 auto;
    border-radius: 7px;
    background: rgba(227,222,222);
    font-family: 'Raleway', sans-serif;
}
.contacts input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 24 14 24 74;
    width: 804;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #14161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: 'Raleway', sans-serif;
}
.contacts input[type="text"] {
    box-shadow: 0 0 10px rgba(100,65,0,.8);
}
.form-spacer {
    padding: 30px 39px;
}
#contact {
    background-color: hsl(0, 26%, 11%);
}